<Proxy>
  Order allow,deny
  Allow from all
</Proxy>

ProxyPass /payment/ http://my.constructionsupport.co.uk/
ProxyPassReverse /payment/ http://my.constructionsupport.co.uk/

ProxyPass /helpdesk/ http://helpdesk.constructionsupport.co.uk/
ProxyPassReverse /helpdesk/ http://helpdesk.constructionsupport.co.uk/

ProxyPass /assets/ http://my.constructionsupport.co.uk/assets/
ProxyPassReverse /assets/ http://my.constructionsupport.co.uk/assets/

ProxyPass /clientarea/ http://my.constructionsupport.co.uk/clientarea/
ProxyPassReverse /clientarea/ http://my.constructionsupport.co.uk/clientarea/

ProxyPass /contacts/ http://my.constructionsupport.co.uk/contacts/
ProxyPassReverse /contacts/ http://my.constructionsupport.co.uk/contacts/

ProxyPass /api/ http://my.constructionsupport.co.uk/api/
ProxyPassReverse /api/ http://my.constructionsupport.co.uk/api/

ProxyPass /dologin.php http://my.constructionsupport.co.uk/dologin.php
ProxyPassReverse /dologin.php http://my.constructionsupport.co.uk/dologin.php

#ProxyPass /includes/api.php http://my.constructionsupport.co.uk/api/v1/whmcs/
#ProxyPassReverse /includes/api.php http://my.constructionsupport.co.uk/api/v1/whmcs/

#ProxyPass /admin/ http://my.constructionsupport.co.uk/admin/
#ProxyPassReverse /admin/ http://my.constructionsupport.co.uk/admin/

#<%= @application.to_s %>
<% if @application[:domains].all? {|domain| !['apply.firstaid-courses.org.uk', 'apply.healthsafetytest.co.uk', 'apply.constructionnvq.org.uk'].include?(domain)} %>
    Redirect permanent / https://<%= domain %>/
<% else %>
    RewriteEngine On
    RewriteCond %{HTTP:X-Forwarded-Proto} =http
    RewriteRule . https://%{HTTP:Host}%{REQUEST_URI} [L,R=permanent]
<% end %>
